body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

nav a {
  margin: 10px;
  color: purple;
  text-decoration: none;
}

img {
  margin: 5px;
  border-radius: 10px;
}

video {
  margin: 10px;
}